html,
body {
  width: screen;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: #eeeeee;
  background: #56535a;
  align-content: center;
  text-align: center;
  border: #f5bb00;
  border-style: solid;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
