html,
body {
  width: screen;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #eeeeee;
  background: #56535a;
  align-content: center;
  /* background-image: url("/space2.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: center; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
