.container {
  padding: 0 2rem;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 130%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;

  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.heading,
.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.cardFull {
  margin: 1rem;
  padding-left: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #181818;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  height: 100px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #181818;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 200px;
}

.orange:hover,
.orange:focus,
.orange:active {
  color: #ee8329;
  border-color: #ee8329;
}

.blue:hover,
.blue:focus,
.blue:active {
  color: #84add7;
  border-color: #84add7;
}
.green:hover,
.green:focus,
.green:active {
  color: #89c893;
  border-color: #89c893;
}

.yellow:hover,
.yellow:focus,
.yellow:active {
  color: #f5bb00;
  border-color: #f5bb00;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.heading {
  font-size: 4rem;
}
